<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>

<body>


  <div class="p-3 mb-2 bg-dark-subtle text-emphasis-dark">
    <div class="container-fluid">

      <%- include('../partials/navbar') %>



     
      <!-- <div class="container"> -->
      <div class="container text-center">
        <div class="row align-items-start">
          <div class="col-md-6 col-sm-12" style="margin-top: 100px">
            <h6 style="color: rgb(139, 109, 38)">Timeless Beauty___</h6>
            <h2 style="
                font-family: Georgia, 'Times New Roman', Times, serif;
                color: rgb(0, 0, 0);
              ">
              NURTURE, BRIGHTEN & REJUVENATE
            </h2>
            <p style="
                padding-left: 40px;
                padding-right: 40px;
                padding-top: 10px;
                color: rgb(164, 128, 80);
              ">
              Elevate your beauty game with our exquisite range of makeup
              products. From vibrant eyeshadow palettes to long-lasting
              lipsticks, we've curated a collection that enhances your natural
              charm. Discover your signature look and embrace the world of
              limitless possibilities. Unleash your inner artist with makeup
              that empowers and inspires.
            </p>
            <!-- <button type="button" class="btn btn-secondary" style="
                background-color: rgb(151, 124, 90);
                width: 200px;
                border-color: rgb(64, 48, 28); -->
              <a href="products.html" class="btn btn-primary" style="
                background-color: rgb(151, 124, 90);
                width: 200px;
                border-color: rgb(64, 48, 28);
              ">
              Explore Products
              </a>
            <!-- </button> -->
            <button type="button" class="btn btn-secondary" style="
                background-color: rgb(151, 124, 90);
                border-color: rgb(64, 48, 28);
              ">
              Know More
            </button>
          </div>
          <div class="col-md-6 col-sm-12 fade-out">
            <img src="/img/mk2.jpg" class="img-thumbnail" alt="..." />
          </div>
        </div>
      </div>
      <div class="container text-center">
        <div class="row align-items-start " style="margin: 40px">
          <div class="col img2">
            <img class="img" src="/img/pr1.jpg" class="img-thumbnail" alt="..." />
            <!-- <p class="para">
              Indulge in the world of mesmerizing beauty with our exceptional
              eyeshadow palette. Elevate your eye makeup game with a spectrum of
              rich, pigmented shades that blend seamlessly to create stunning,
              versatile looks
            </p> -->
          </div>
          <div class="col img2 ">
            <img class="img " src="/img/lip.jpg" class="img-thumbnail" alt="..." />
            <!-- <p class="para">
              Dive into a world of bold, beautiful colors that suit every mood
              and occasion. Our lipsticks glide on smoothly, offering a velvety
              texture and intense color that stays put all day.
            </p> -->
          </div>
          <div class="col img2">
            <img class="img" src="/img/pr3.jpg" class="img-thumbnail" alt="..." />

            <!-- <p class="para">
              Achieve flawless, radiant skin with our premium foundation
              collection. Our foundation is more than just makeup; it's your
              secret to a perfect complexion.
            </p> -->
          </div>
        </div>
      </div>
      <hr style="width: 220px; margin-left: 550px" />

      <div class="container" style="margin-top: 100px;">
        <h2 style="
            text-align: center;
            color: black;
            font-family: Georgia, 'Times New Roman', Times, serif;
          ">
          Beauty is for Quality Lovers
        </h2>
        <h6 style="text-align: center; color: rgb(126, 94, 56)">
          CREATING RADIENT SKIN
        </h6>
        <p style="text-align: center; margin-left: 140px; margin-right: 140px; font-size:x-small;">
          Indulge in the art of self-care and unveil the secret to beautiful,
          radiant skin with our skincare collection.<br> We believe that beauty
          begins with healthy, glowing skin, and our products are meticulously
          crafted to help you achieve just that.<br> From nourishing cleansers to
          rejuvenating serums, our range is a testament to the transformative
          power of skincare.<br> Embrace a daily ritual that pampers and protects,
          helping you achieve the complexion you've always dreamed of.
        </p>
        <div class="container text-center">
          <div class="row align-items-center img3" style="justify-content: center;">
            <div class="col">
              <img style="border-radius: 50%; height: 90px; width: 90px;" class="img" src="/img/cr1.jpg"
                class="img-thumbnail" alt="..." />
            </div>
            <div class="col">
              <img style="border-radius: 50%; height: 90px; width: 90px;" class="img" src="/img/cr2.jpg"
                class="img-thumbnail" alt="..." />
            </div>
            <div class="col">
              <img style="border-radius: 50%; height: 90px; width: 90px;" class="img" src="/img/cr3.jpg"
                class="img-thumbnail" alt="..." />
            </div>
            <div class="col">
              <img style="border-radius: 50%; height: 90px; width: 90px;" class="img" src="/img/cr4.jpg"
                class="img-thumbnail" alt="..." />
            </div>

          </div>
          <button style="width: 150px; margin-top: 30px; background-color: rgb(116, 85, 46); margin-bottom: 100px;"
            type="button;" class="btn btn-secondary">know more</button>
        </div>

      </div>
      <hr style="width: 220px; margin-left: 550px" />
      <div class="container" style="margin-top: 100px;">
        <h2 style="
          text-align: center;
          color: black;
          font-family: Georgia, 'Times New Roman', Times, serif;
        ">
          BEST SELLERS
        </h2>
        <h6 style="text-align: center; color: rgb(126, 94, 56)">
          RADIENT ESSENTIALS
        </h6>
        <div class="container text-center">
          <div class="row align-items-center imge">
            <div class="col">
              <img style="height: auto;" class="img" src="/img/skin.jpg" class="img-thumbnail" alt="..." />
            </div>
            <div class="col">
              <img  style="margin: 10px; height: 250px; width: 250px;" class="img" src="/img/im1.jpg"
                class="img-thumbnail" alt="..." />
              <p>Achieve flawless skin with our best-selling foundation, now available at just $29.99. Unleash your
                beauty's
                full potential and enjoy a radiant complexion that lasts all day.</p>
              <img style="margin: 10px; height: 250px; width: 250px;" class="img" src="/img/im2.jpg"
                class="img-thumbnail" alt="..." />
              <p>Discover the ultimate hydration with our best-selling moisturizer, priced at only $24.99. Nourish your
                skin
                and experience all-day moisture for a revitalized, radiant glow.</p>
            </div>
            <div class="col">
              <img style="margin: 10px; height: 250px; width: 250px;" class="img" src="/img/im3.jpg"
                class="img-thumbnail" alt="..." />
              <p>Experience the magic of our best-selling serum, a skincare essential, priced at just $39.99. Elevate
                your
                skincare routine and unveil a youthful, glowing complexion that's worth every penny.</p>
              <img  style="margin: 10px; height: 250px; width: 250px;" class="img" src="/img/im4.jpg"
                class="img-thumbnail" alt="..." />
              <p>Indulge in luxury with our best-selling face mask, now at just $19.99. Elevate your skincare routine
                and
                experience spa-quality rejuvenation from the comfort of your home.</p>
            </div>
          </div>
          <!-- <button style="width: 150px; margin-top: 30px; background-color: rgb(116, 85, 46); margin-bottom: 100px;"
            type="button;" <a href="#" class="btn btn-secondary">view all products</button></a> -->
            <a href="products.html" class="btn btn-primary" style="width: 150px; margin-top: 30px; background-color: rgb(116, 85, 46); margin-bottom: 100px;">VIEW PRODUCTS</a>
        </div>




      </div>
      <div class="container" style="margin-bottom: 60px; position: relative;">
        <div class="opacity-50"><img style="background-size: cover; background-position: center ; width: 100%;"
            class="img" src="/img/h.jpg" class="img-thumbnail" alt="..." />
        </div>
        <div style="position: absolute; top: 70%; left: 36%; transform: translate(-50%, -50%);">
          <h1 style="color: rgb(95, 72, 22); text-shadow: 2px 2px 4px #cabebe;">WE DONT JUST CARE ABOUT BEAUTY WE CARE
            ABOUT
          </h1>
          <ul style="color: white;">
            <li>
              minimizes and purifies pores effectively
            </li>
            <li>clears complexion</li>
            <li>prevents breakouts</li>
            <li>natural for all skin types</li>
          </ul>
          <a href="products.html" class="btn btn-primary"style="width: 150px; background-color: rgb(116, 85, 46); margin-bottom: 100px;">shop now</a>

          <!-- <button style="width: 150px; background-color: rgb(116, 85, 46); margin-bottom: 100px;" type="button;"
            class="btn btn-secondary">shop now</button> -->

        </div>



      </div>
      <div class="container" style="margin-top: 100px;">
        <h2 style="
            text-align: center;
            color: black;
            font-family: Georgia, 'Times New Roman', Times, serif;
          ">
          REAL REVIEWS BY FASHION BLOGGERS
        </h2>
        <h6 style="text-align: center; color: rgb(126, 94, 56)">
          FROM THE BEST ONES
        </h6>
        <p style="text-align: center; margin-left: 140px; margin-right: 140px; font-size:small;">
          <b> Samantha H. - ★★★★★</b>

          I'm absolutely in love with this makeup brand! Their eyeshadow palettes are incredibly pigmented, and the
          color
          selection is amazing. I can create a wide range of looks from natural to bold. Plus, their lipsticks are
          long-lasting and feel so comfortable on my lips. I'm a loyal customer for life!
        </p>
        <p style="text-align: center; margin-left: 140px; margin-right: 140px; font-size:small;">
          <b>Emily R. - ★★★★★</b>

          I can't get enough of their skincare products! The moisturizer is my absolute favorite. It leaves my skin
          feeling
          hydrated and smooth. The packaging is also elegant and looks great on my vanity. I've seen a noticeable
          improvement in my skin's texture since using their products.
        </p>
        <p style="text-align: center; margin-left: 140px; margin-right: 140px; font-size:small;">
          <b> Sophia L. - ★★★★★</b>

          I've been using their mascara for a while now, and it's a game-changer. My lashes look so much fuller and
          longer,
          and it doesn't clump or smudge throughout the day. It's my holy grail product, and I recommend it to all my
          friends.
        </p>
        <p style="text-align: center; margin-left: 140px; margin-right: 140px; font-size:small;">
          <b>Chris M. - ★★★★☆</b>

          This makeup brand is a hidden gem. Their prices are reasonable, and the quality is top-notch. The lipstick
          shades
          are gorgeous, and they stay put even after eating and drinking. I'm pleasantly surprised and will be exploring
          more of their products.
        </p>

      </div>
      <div class="container"
        style="margin-bottom: 60px; position: relative; background-color: black; margin-top: 70px;">
        <img style="width:350px;" class="img" src="/img/ceo2.jpg" class="img-thumbnail" alt="..." />
        <div style="position: absolute; top: 50%; left: 60%; transform: translate(-50%, -50%);">
          <h1 style="color: white; text-shadow: 2px 2px 4px #cabebe;">OUR STORY</h1>
          <p style="color: white;">
            In the heart of our vibrant city, our makeup brand was born from a shared dream—a dream fueled by our love
            for
            makeup and a desire to make a positive impact. We envisioned a brand that would combine exceptional
            cosmetics
            with a commitment to ethical and sustainable practices. With a butterfly as our symbol, signifying
            transformation and beauty, we embarked on a journey of dedication and innovation.
          </p>
        </div>
      </div>
      <%- include('../partials/footer') %>


      



      
    </div>













    <!-- </div> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
      </script>
</body>

</html>