<div class="container last colll pp">
        <img src="/img/ar1.jpg" class="img-thumbnail" alt="..." />
        <img src="/img/ar2.jpg" class="img-thumbnail" alt="..." />
        <img src="/img/ar3.jpg" class="img-thumbnail" alt="..." />
        <img src="/img/ar4.jpg" class="img-thumbnail" alt="..." />
        <div class="container text-center colll">
          <div class="row align-items-start last ppp">
            <div class="col">
             <h6>NEWSETTLER</h6>
             <p class="p1">Save 15% on and subscribe now. stay tuned to new updates and sales.
              our gmail is:<br>
              ayesharao@gamial.com
             </p>
            </div>
            <div class="col">
             <h6>RESOURCES</h6>
             <p class="p1">Return policy<br> privacy policy<br> terms of services</p>
            </div>
            <div class="col">
              <h6>CONTACTS</h6>
              <p class="p1">general puposes<br> media query<br> sales query</p>
            </div>
            <div class="col">
             <h5>FOLLOW</h5>
             <p class="p1">@HUMAYE<br>
              on instagram<br>
              facebook<br> twitter
    
                    
               </p>
              
            </div>
          </div>
        </div>
       

      </div>
